.item{
  background-color:#b3d3c8;
  display:block;
  height:30vh;
  margin:20px;
  padding:20px;
}
.dataLoading {
  display: block;
  text-align: center;
  background-color: #eeeeee;
  border: 0;
  font-size: 5rem;
}
